html {
    scroll-behavior: smooth;
}



body {
    color: black;
    position: relative;
    background-size: cover;
    background-color: white;
}

.nav {
    width: 100%;
    left: 0;
    top: 0;
    background: black;
    position: sticky;
}

a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
}

a:hover {
    color: black;
}


.nav-ul {
    list-style-type: none;
    display: flex;
}

.nav-li {
    width: 100%;
    margin: 0.5%;
    align-self: center;
    align-items: center;
    background-color: black;
    border-radius: 8px;
    border-style: none;
    color: white;
}

.nav-li:hover {
    background-color: white;
    color: black;
}

.intro {
    margin: 1%;
    margin-bottom: 0%;
    padding: 5%;
    background: whitesmoke;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    width: 50%;
    padding: 5%;
}

.social-links {
    margin-top: 10%;
    margin-bottom: 10%;
}

.name {
    font-size: 40px;
    margin-bottom: 5%;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'Sofia', sans-serif;
    white-space: nowrap;
}

.story {
    font-size: 19px;
    margin-top: 5%;
    padding: 0;
    line-height: 1;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}



.social {
    /* background-color: darkgoldenrod;
     */
    background-color: wheat;
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    /* border-style: solid; */
    /* border-color: darkgoldenrod; */
    border-radius: 5%;
    text-decoration: none;
}

.social:hover {
    background-color: white;
    /* border-color: darkgoldenrod; */
    /* border-style: solid; */

}

.main-image {
    padding-right: 15%;
}

.main-image-image {
    border-radius: 40px;
    /* padding-right: 20%; */
}



.About {
    /* margin-top: 1%; */
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 0%;
    padding-left: 5%;
    background: whitesmoke;
}

.about-whoami {
    font-size: 40px;
    margin-bottom: 5%;
    text-decoration: none;
    color: black;
    font-family: 'Sofia', sans-serif;
    white-space: nowrap;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

.about-ul {
    list-style-type: none;
}

.about-li {}


.my-image {
    background-color: coral;
    padding: 2%;
    align-content: center;
    align-items: center;
    display: flex;
}

.my-image-2 {
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: grey;
    align-content: center;
    align-items: center;
    display: flex;
}

.ahmed-image-1 {
    display: block;
    margin: 20%;
    margin-top: 0%;
    margin-bottom: 0%;
    align-content: center;
    align-self: center;
    align-items: center;

    border-radius: 40px;

    height: 100%;
    width: 60%;
}

.ahmed-image-2 {
    display: block;
    margin: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
    align-content: center;
    align-self: center;
    align-items: center;

    border-radius: 40px;

    height: 60%;
    width: 40%;
}